# Install Library

In [1]:
# set version library
!pip install gspread==4.0.1

Collecting gspread==4.0.1
  Downloading gspread-4.0.1-py3-none-any.whl (29 kB)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from gspread==4.0.1) (0.4.6)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from gspread==4.0.1) (1.35.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread==4.0.1) (0.2.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread==4.0.1) (1.15.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread==4.0.1) (4.2.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread==4.0.1) (57.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread==4.0.1) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib>=0.4.1->gspread==4.0.1) (1.3.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread==4.0.1) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==4.0.1) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==4.0.1) (3.1.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==4.0.1) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==4.0.1) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==4.0.1) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==4.0.1) (2021.5.30)
Installing collected packages: gspread
  Attempting uninstall: gspread
    Found existing installation: gspread 3.0.1
    Uninstalling gspread-3.0.1:
      Successfully uninstalled gspread-3.0.1
Successfully installed gspread-4.0.1

# Import Library

In [2]:
#library dataframe
import pandas as pd 
import numpy as np
import datetime as dt

#library visualisasi
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#library gdrive
import json
import gspread
from oauth2client.service_account import ServiceAccountCredentials

#ignore library
import warnings
warnings.filterwarnings('ignore')

# Setup Google Sheet Authentication

In [3]:
key = {
    "type": "service_account",
    "project_id": "rahmat-analyst-317513",
    "private_key_id": "78c94969c5fccd38979f26778eb135d9d7c80553",
    "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCcVzUCKnSZnMPs\n03ys0lckb/SXZI8bSk9da7rdMN5ATJXsWPMZ/fZmlKcURhefr7RoLgovbXRbvVBG\n6ra3EnFDTN87An5yWrf2Lu+jXQiWPRjgJR09U1ys0XhhV6EyTrOSM0T4Z1NmDuCh\nL3LeBykfO/7p3BQ7R9kJr5ROnGPRnMWlufZKgoYtbKFn/N1QytpZdwVAGctJslH5\nidy7/8YU6RAlNgCh38Qgb/hzlJkoJetVM9PWjN3XdcQPoJV+sJW9Qq0yGkc1G8cr\nmVrIJDj9Vyu7xI9xhldfxVJ6s4q1BtlKNSMNpNR7qKO4kXvzfLsPdUTU7V4uYPLK\nJdqE8aopAgMBAAECggEAGcXPjYKZs6wR6WPo0OWg63cQS3fOlplesYAdrzKL5O4r\nJen48284FCuLyo4OfWrd8vGqCK0Cyk/QYMx3IAFojgdpYmU0Gp5lZq5Qn23qCThb\ntjGwGwi3xZ6HeYaUYoJyXFba1xdTeobX1YKIrVzhVM6TZJJ8/FPJDe11parm0qpD\nDVarN2eMqQ5XmC5MXc+74+3CS8O1GYphDwgjNu+OBxGpAT7tzXCSnl7T9+FbAz2c\ngPaqeUK5IHVDqa9ReBGHSzWlRv4QJP+FBIRMcUVzV13vMRz2LvzWLh+7t9JJ3SYl\nxvEiSFSTPUAreKpYc+TN1x+DjAP9RF4v/xfhrkH/3QKBgQDX2tHkhtMd9J+RsSqv\n8uAb94V5YFAcepVIi6CCxtRX5Ri8BnVWFnELbYaXxuWtFPbo4C6ACez0McCS3kSc\n3SAZylO8VwS/uFwp9Ue+1YH27F5YVqv9bO1FmknL+VzDv4HvAKcCzjYsUQmWU9WK\n73GEpSCzCdCLr/Jy4kYIznagXQKBgQC5atP2ZPZO8TYEVXb6ZrYnGE/ulsaruopS\n7cwa96tHvOjzzmENxceXCO1u8jXCBORvI/vzi0qkKXULrx+adMSlqMGQdxrVcyvw\nBuoXLKkgiR0E6tXlaNLJoagx89pmsppX9CuvCBnLu0pOXU3U60y1DTdtDAUB7Hr9\niFM+xhwEPQKBgD5jUpMYnOBlmdFEQbBFJJ0wt3VTbxQsIgWrxaLG0QzufG2r+DH/\nnoDNET/BDxUtoAfC8+2x8LjLwHsynuYvy11o6zbed9Lp+ElwSWJQ15WEz+f8dQ10\ndEfPxlCcLEGvkmB/8cWP0HySl5DJfkj/1/GcwIy+43XcTtkBqXhWJFdJAoGAIFZ3\nXVPCeYYsK5lURNvBDRR6bFwzjiPcmBYNMO7dGofiAROPbb1+z+Kotl7b7Vi5FoEq\nIhG7FOJ+HWmPk3qmCVZjW/TJ40xQ723lSeFqJdiEDSV/5KDhknT1RrEG+D5SGODm\n9YHuLdAeZ4hyWJ4pJLKHZidggDNkR++MxTf8DukCgYBl7z5C5q7goMGeKhPrJ+fb\nE+hZ5DmVC148B2ZZu86Y+imdGeYPuCuF2ZOOJMeMjvoHAL30V4CB4qYIx7sG6s+Q\ntho6uMn3XwH/dB9GixtjyugGSwl0XmcPmsq861u+jMzzXuEuq5N6X8XO2zaiDI4B\nH9/y9RDZkeRfRHJILNC3Zg==\n-----END PRIVATE KEY-----\n",
    "client_email": "rahmat-analyst@rahmat-analyst-317513.iam.gserviceaccount.com",
    "client_id": "111849871397398260639",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/rahmat-analyst%40rahmat-analyst-317513.iam.gserviceaccount.com"}
  
json_key = json.dumps(key)
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
creds = ServiceAccountCredentials.from_json_keyfile_dict(key, scope)
client = gspread.authorize(creds)

# Data Preparation

## Data Collection

In [4]:
"""
  Set Connection GColab with GSheet Database Rumah Kepemimpinan
"""

sheet = client.open('Database Rumah Kepemimpinan')

# Set Collection Sheet
listSheet = ['JANUARI','FEBRUARI','MARET','APRIL','MEI','JUNI',
             'JULI','AGUSTUS','SEPTEMBER']

# Set Dataframe Master
data = pd.DataFrame(columns={'KODE DONATUR', 
                             'TANGGAL', 
                             'NAMA DONATUR', 
                             'NO REFF',  
                             ' DEBET',
                             'KETERANGAN', 
                             'NAMA BANK'})

totalRows = 0
for tabSheet in listSheet:
  tab = sheet.worksheet(tabSheet)
  df = pd.DataFrame(tab.get_all_records())

  """
    Get information tab GSheet each !
  """

  rows, cols = df.shape
  totalRows += rows
  print(f"Data Tab Sheet {tabSheet}, baris: {rows}, kolom: {cols}")

  data = data.append(df,ignore_index=False)
print(f"TOTAL ROWS MASTER DATA: {totalRows}")

Data Tab Sheet JANUARI, baris: 1940, kolom: 7
Data Tab Sheet FEBRUARI, baris: 1556, kolom: 7
Data Tab Sheet MARET, baris: 1799, kolom: 7
Data Tab Sheet APRIL, baris: 2072, kolom: 7
Data Tab Sheet MEI, baris: 2167, kolom: 7
Data Tab Sheet JUNI, baris: 1834, kolom: 7
Data Tab Sheet JULI, baris: 1854, kolom: 7
Data Tab Sheet AGUSTUS, baris: 1463, kolom: 7
Data Tab Sheet SEPTEMBER, baris: 204, kolom: 7
TOTAL ROWS MASTER DATA: 14889

In [5]:
data.replace({np.NaN:None},inplace=True)
data = data[['KODE DONATUR',
             'TANGGAL',
             'NAMA DONATUR',
             'NO REFF',
             ' DEBET',
             'KETERANGAN', 
             'NAMA BANK']]

## Export Data Master Transaction

In [6]:
sheet = client.open('DB_Internship_RK')
sheet_instance = sheet.worksheet('Master_Transaction')
sheet_instance.update([data.columns.values.tolist()] + data.values.tolist())

{'spreadsheetId': '1lbKZZWF0Om-VbnKgjUpoEP8Q6aH4YPLx3BVyOcQbMZA',
 'updatedCells': 104230,
 'updatedColumns': 7,
 'updatedRange': 'Master_Transaction!A1:G14890',
 'updatedRows': 14890}

## Data Cleaning

### Data Transaction

In [7]:
sheet = client.open('DB_Internship_RK')
master = sheet.worksheet('Master_Transaction')

#Define google sheet to dataframe
df = pd.DataFrame(master.get_all_records())
df.rename(columns={' DEBET':'DEBET'},inplace=True)

#Proses Labelling KODE DONATUR
df.loc[(df['KODE DONATUR']==''),'LABEL DONATUR'] = 'TANPA KODE'
df.loc[~(df['KODE DONATUR']==''),'LABEL DONATUR'] = 'DENGAN KODE'

#Prosess Convert type data object to String
df['TGL'] = df['TANGGAL'].str.split(" ").str[0]
df['BLN'] = df['TANGGAL'].str.split(" ").str[1]
df['THN'] = df['TANGGAL'].str.split(" ").str[2]

#Dictonary Bulan
dictBulan = {
    'Jan':'01',
    'Feb':'02',
    'Mar':'03', 
    'Apr':'04', 
    'Mei':'05', 
    'Jun':'06', 
    'Jul':'07', 
    'Agu':'08', 
    'Sep':'09'}

#Penambahan Data Dictonary Bulan ke dalam column
df['BLN_'] = df['BLN'].map(dictBulan)

#Proses convert type data String to type data datetime
df['DATE'] = pd.to_datetime(df['THN']+'-'+df['BLN_']+'-'+df['TGL'], format="%Y-%m-%d")

#Dictonary Produk
dictProduk = {
    'WAKAF':'WAKAF ASRAMA','Wakaf Asrama':'WAKAF ASRAMA',
    'sp':'SAHABAT PEMIMPIN','SP':'SAHABAT PEMIMPIN','Sp':'SAHABAT PEMIMPIN',
    'Infaq':'INFAQ','infaq':'INFAQ','INfAQ':'INFAQ','INFAq':'INFAQ',' INFAQ':'INFAQ','INSTITUSI':'INFAQ',
    'Institusi':'INFAQ','TITIPAN':'INFAQ','RETUR':'INFAQ',
     '':'INFAQ','CAPEX':'INFAQ','RETURN':'INFAQ','PRODUK':'INFAQ',
     'Zakat':'ZAKAT',
}

#Proses Replace keterangan to Dictonary Product
df['KETERANGAN_'] = df['KETERANGAN'].replace(dictProduk)

#Proses Convert Type data debet to integral
df['DEBET_'] = df['DEBET'].str.split(" ").str[2].str.replace(".","")
df['DEBET_'] = df['DEBET_'].fillna(0)
df['DEBET_'] = df['DEBET_'].astype(int)


#Pemilihan Column
data = df[['KODE DONATUR', 'LABEL DONATUR', 'BLN_','NAMA DONATUR','DEBET_','KETERANGAN_']]

#Drop Bulan September
data = data[~(data['BLN_'] == '09')]

#Rename Column
data = data.rename(columns= {'KODE DONATUR':'KODE_DONATUR', 'BLN_':'BLN', 'LABEL DONATUR':'LABEL_DONATUR',
                    'NAMA DONATUR':'NAMA_DONATUR', 'DEBET_':'DONASI', 'KETERANGAN_':'PRODUK'})

### Data Master Donatur

In [8]:
sheet = client.open('Database Rumah Kepemimpinan')
sheet_instance = sheet.worksheet('Master Data')

df = pd.DataFrame(sheet_instance.get_all_records())
df = df.iloc[1:3172,0:7]
df = df.drop_duplicates()

### Data Filtering

In [9]:
dfMerge = pd.merge(data, df, left_on='KODE_DONATUR', right_on='no', how='inner')
dfMerge.drop(['no','nama','Alamat'], axis=1, inplace=True)
dfMerge.rename(columns = {
    'JK':'JENIS_KELAMIN',
    'Tahun Lahir':'TAHUN_LAHIR',
    'Domisili Kota':'DOMISILI',
    'base donatur':'STATUS'},inplace=True)

dfMerge.reset_index(inplace=True, drop=True)
dfMerge = dfMerge.replace(np.NaN,None)
dfMerge = dfMerge.replace('#N/A',None)

In [10]:
sheet = client.open('DB_Data_Clean')
sheet_instance = sheet.worksheet('Data_Clean')
sheet_instance.update([dfMerge.columns.values.tolist()] + dfMerge.values.tolist())

{'spreadsheetId': '1KGtFfUpY7BULgq98hlt7Js7CYbmgopSh8H4niOzcpUs',
 'updatedCells': 34150,
 'updatedColumns': 10,
 'updatedRange': 'Data_Clean!A1:J3415',
 'updatedRows': 3415}

# Data Science Product

In [11]:
sheet = client.open('DB_Data_Clean')
sheet_instance = sheet.worksheet('Data_Clean')
dfMerge = pd.DataFrame(sheet_instance.get_all_records())
dfMerge.head(3)

   KODE_DONATUR LABEL_DONATUR  BLN  ... TAHUN_LAHIR  DOMISILI  STATUS
0           441   DENGAN KODE    1  ...        1990    Bekasi  Alumni
1           441   DENGAN KODE    1  ...        1990    Bekasi  Alumni
2           441   DENGAN KODE    2  ...        1990    Bekasi  Alumni

[3 rows x 10 columns]

## Decision Support

### Information Descriptive

#### Jumlah Donatur dan Donasi tiap Bulan

In [12]:
hasil_1 = dfMerge.groupby(['BLN']).agg({'KODE_DONATUR':'count',
                          'NAMA_DONATUR':'nunique',
                          'DONASI':'sum'}).reset_index()
hasil_1.rename(columns= {'KODE_DONATUR':'JUMLAH_TRANSAKSI',
                          'NAMA_DONATUR':'JUMLAH_DONATUR'}, inplace=True)
hasil_1

   BLN  JUMLAH_TRANSAKSI  JUMLAH_DONATUR      DONASI
0    1               340             250   116744083
1    2               292             229    69106417
2    3               445             284   182181881
3    4              3374             538   865996516
4    5              4258             653  2483878630
5    6              1692             273   487047394
6    7              1651             238   370844816
7    8              1604             251   505249062

#### Jumlah Donatur dan Donasi tiap Produk tiap Bulan

In [13]:
hasil_2 = dfMerge.groupby(['BLN', 'PRODUK']).agg({'KODE_DONATUR':'count',
                                               'NAMA_DONATUR':'nunique',
                                              'DONASI':'sum'}).reset_index()
hasil_2.rename(columns= {'KODE_DONATUR':'JUMLAH_TRANSAKSI',
                        'NAMA_DONATUR':'JUMLAH_DONATUR'}, inplace=True)
hasil_2.head()

   BLN            PRODUK  JUMLAH_TRANSAKSI  JUMLAH_DONATUR    DONASI
0    1             INFAQ               103              79  17398207
1    1  SAHABAT PEMIMPIN               168             156  48250000
2    1      WAKAF ASRAMA                36              18  35135246
3    1             WAPRO                 1               1   3000000
4    1             ZAKAT                32              32  12960630

#### Jumlah Donatur dan Donasi tiap Tipe-Donasi tiap Bulan

In [14]:
hasil_3 = dfMerge.groupby(['BLN', 'LABEL_DONATUR']).agg({'KODE_DONATUR':'count',
                                               'NAMA_DONATUR':'nunique',
                                              'DONASI':'sum'}).reset_index()
hasil_3.rename(columns= {'KODE_DONATUR':'JUMLAH_TRANSAKSI',
                        'NAMA_DONATUR':'JUMLAH_DONATUR'}, inplace=True)
hasil_3.head()

   BLN LABEL_DONATUR  JUMLAH_TRANSAKSI  JUMLAH_DONATUR      DONASI
0    1   DENGAN KODE               340             250   116744083
1    2   DENGAN KODE               292             229    69106417
2    3   DENGAN KODE               445             284   182181881
3    4   DENGAN KODE              3374             538   865996516
4    5   DENGAN KODE              4258             653  2483878630

#### Jumlah Donatur dan Donasi tiap Tipe-Donasi tiap Produk tiap Bulan

In [15]:
hasil_4 = dfMerge.groupby(['BLN', 'PRODUK', 'LABEL_DONATUR']).agg({'KODE_DONATUR':'count',
                                               'NAMA_DONATUR':'nunique',
                                              'DONASI':'sum'}).reset_index()
hasil_4.rename(columns= {'KODE_DONATUR':'JUMLAH_TRANSAKSI',
                        'NAMA_DONATUR':'JUMLAH_DONATUR'}, inplace=True)
hasil_4.head()

sheet = client.open('DB_Data_Clean')
sheet_instance = sheet.worksheet('Information_Descriptive')
sheet_instance.update([hasil_4.columns.values.tolist()] + hasil_4.values.tolist())

{'spreadsheetId': '1KGtFfUpY7BULgq98hlt7Js7CYbmgopSh8H4niOzcpUs',
 'updatedCells': 240,
 'updatedColumns': 6,
 'updatedRange': 'Information_Descriptive!A1:F40',
 'updatedRows': 40}

### Metric Monitoring

#### Donatur Behavior

##### Churn Donatur tiap Bulan

In [16]:
dfTime = dfMerge[['KODE_DONATUR','BLN']]
dfTime.drop_duplicates(inplace=True)
dfTime['BLN'] = dfTime['BLN'].astype(int)

minDonatur = dfTime.groupby(['KODE_DONATUR'])['BLN'].min().reset_index()
minDonatur.columns = ['KODE_DONATUR','FIRST_BLN']

#lifetime
dLifeTime = pd.merge(dfTime,minDonatur)
dLife = dLifeTime.groupby(['FIRST_BLN','BLN']).agg({'KODE_DONATUR':'nunique'}).unstack()
dLife = pd.DataFrame(dLife.values, columns=['1','2','3','4','5','6','7','8'])
dLife = dLife.replace(np.nan,0)

name = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus']
dLife.set_axis(name, axis='index', inplace=True)
dLife.columns = name

#sheet = client.open('DB_Data_Clean')
#sheet_instance = sheet.worksheet('Churn_Donatur')
#sheet_instance.update([dLife.columns.values.tolist()] + dLife.values.tolist())

In [17]:
dLifeTime.groupby(['FIRST_BLN','BLN']).agg({'KODE_DONATUR':'unique'}).unstack()

                                                KODE_DONATUR  ...
BLN                                                        1  ...                                                  8
FIRST_BLN                                                     ...
1          [441, 725, 1121, 182, 2129, 1624, 940, 900, 92...  ...  [441, 1121, 182, 2129, 1624, 940, 900, 924, 92...
2                                                        NaN  ...  [627, 614, 590, 48, 272, 794, 801, 803, 828, 8...
3                                                        NaN  ...  [1267, 2099, 1129, 1074, 413, 1626, 2415, 1015...
4                                                        NaN  ...  [2421, 2416, 2417, 2418, 2420, 2464, 1262, 125...
5                                                        NaN  ...      [1201, 2684, 1555, 839, 1031, 18, 2319, 1173]
6                                                        NaN  ...                                  [560, 1418, 2930]
7                                                        NaN  ...                       [252, 1153, 533, 2035, 1285]
8                                                        NaN  ...  [400, 2405, 404, 1865, 103, 685, 2402, 591, 14...

[8 rows x 8 columns]

In [18]:
dLifeTime

      KODE_DONATUR  BLN  FIRST_BLN
0              441    1          1
1              441    2          1
2              441    3          1
3              441    4          1
4              441    5          1
...            ...  ...        ...
2565           278    8          8
2566          2895    8          8
2567           831    8          8
2568           436    8          8
2569           705    8          8

[2570 rows x 3 columns]

##### Lifetime-Value Donatur tiap Bulan

In [19]:
dLoyal = dLifeTime.copy()
dLoyal.drop_duplicates(inplace=True)

listFirstBulan = list(dLoyal['FIRST_BLN'].unique())
listFirstBulan.sort()

for donaturs in dLoyal['KODE_DONATUR']:
  for bulansFirst in listFirstBulan:
    valueFirstBln = len(dLoyal[(dLoyal['KODE_DONATUR']==donaturs)&(dLoyal['FIRST_BLN']==bulansFirst)])
    
    if valueFirstBln == 0:
      continue

    check = 0
    #bulans = list(dLoyal[dLoyal['KODE_DONATUR']==donaturs]['BLN'])
    # print(bulans)
    for bulanNext in range(bulansFirst, max(dLoyal['BLN'].unique())+1):
      value = len(dLoyal[(dLoyal['KODE_DONATUR']==donaturs)&(dLoyal['BLN']==bulanNext)])
    
      if ((value != 0) and (check == 0)):
        continue
      else:
        dLoyal = dLoyal[~((dLoyal['KODE_DONATUR']==donaturs)&(dLoyal['BLN']==bulanNext))]
        check += 1

dLoyal = dLoyal.groupby(['FIRST_BLN', 'BLN']).agg({'KODE_DONATUR':'nunique'}).unstack()
name = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus']
dLoyal.set_axis(name, axis='index', inplace=True)
dLoyal.columns = name
dLoyal = dLoyal.replace(np.nan,0)

In [20]:
#sheet = client.open('DB_Data_Clean')
#sheet_instance = sheet.worksheet('Loyal_Donatur')
#sheet_instance.update([dLoyal.columns.values.tolist()] + dLoyal.values.tolist())

In [21]:
dLoyal

          Januari  Februari  Maret  April    Mei  Juni  Juli  Agustus
Januari     239.0     158.0  144.0  117.0  101.0  86.0  75.0     69.0
Februari      0.0      62.0   43.0   34.0   21.0  15.0  10.0     10.0
Maret         0.0       0.0   32.0   14.0   10.0   5.0   5.0      4.0
April         0.0       0.0    0.0  298.0   36.0  10.0   7.0      6.0
Mei           0.0       0.0    0.0    0.0  340.0   9.0   1.0      0.0
Juni          0.0       0.0    0.0    0.0    0.0  47.0   2.0      2.0
Juli          0.0       0.0    0.0    0.0    0.0   0.0  15.0      5.0
Agustus       0.0       0.0    0.0    0.0    0.0   0.0   0.0     14.0

##### Frekuensi Donasi

In [22]:
dfFreq = dfMerge.groupby(['KODE_DONATUR','BLN']).agg({'LABEL_DONATUR':'count',
                                             'DONASI':'sum'}).reset_index()
dfFreq.rename(columns={'LABEL_DONATUR':'FREQUENSI_DONASI'},inplace=True) 

dfdfFreq_1 =(dfFreq.groupby(['KODE_DONATUR']).agg({'BLN':'count'})
.reset_index()
.rename(columns={'BLN':'DONASI_BULAN'}))

result = dfdfFreq_1.groupby(['DONASI_BULAN']).agg({'KODE_DONATUR':'count'}).reset_index()
result.rename(columns={'DONASI_BULAN':'FREQUENSI_BULAN','KODE_DONATUR':'TOTAL_DONATUR'},inplace=True)

sheet = client.open('DB_Data_Clean')
sheet_instance = sheet.worksheet('Frequensi_Donatur')
sheet_instance.update([result.columns.values.tolist()] + result.values.tolist())

{'spreadsheetId': '1KGtFfUpY7BULgq98hlt7Js7CYbmgopSh8H4niOzcpUs',
 'updatedCells': 18,
 'updatedColumns': 2,
 'updatedRange': 'Frequensi_Donatur!A1:B9',
 'updatedRows': 9}

In [23]:
#Banyaknya Transaksi per Donatur
dfCount = dfMerge.groupby(['KODE_DONATUR']).agg({'NAMA_DONATUR':'count'}).sort_values('NAMA_DONATUR', ascending=False).reset_index()
dfCount.rename(columns={'NAMA_DONATUR':'FREKUENSI_DONASI'},inplace=True)

batas_bin = [0, 5, 10, 15, 100]
kategori = ['<6', '6-10', '11-15', '>15']
dfCount['FREKUENSI_TRANSAKSI'] = pd.cut(dfCount['FREKUENSI_DONASI'], bins=batas_bin, labels=kategori) 
dfCountFinal = dfCount.groupby('FREKUENSI_TRANSAKSI').agg({'KODE_DONATUR':'count'}).reset_index()
dfCountFinal.rename(columns={'KODE_DONATUR':'BANYAK_TRANSAKSI'},inplace=True)
dfCountFinal

sheet = client.open('DB_Data_Clean')
sheet_instance = sheet.worksheet('Banyak_Transaksi')
sheet_instance.update([dfCountFinal.columns.values.tolist()] + dfCountFinal.values.tolist())

{'spreadsheetId': '1KGtFfUpY7BULgq98hlt7Js7CYbmgopSh8H4niOzcpUs',
 'updatedCells': 10,
 'updatedColumns': 2,
 'updatedRange': 'Banyak_Transaksi!A1:B5',
 'updatedRows': 5}

## Load Data Master

In [24]:
sheet = client.open('DB_Data_Clean')
sheet_instance = sheet.worksheet('Data_Clean')
df = pd.DataFrame(sheet_instance.get_all_records())
df.head(3)

   KODE_DONATUR LABEL_DONATUR  BLN  ... TAHUN_LAHIR  DOMISILI  STATUS
0           441   DENGAN KODE    1  ...        1990    Bekasi  Alumni
1           441   DENGAN KODE    1  ...        1990    Bekasi  Alumni
2           441   DENGAN KODE    2  ...        1990    Bekasi  Alumni

[3 rows x 10 columns]

In [25]:
catDonatur = df.groupby(['KODE_DONATUR']).agg({'BLN':'nunique'}).reset_index()

def classDonatur(x):
  if x >=5:
    return 1
  else:
    return 0

catDonatur['CLASS'] = catDonatur['BLN'].map(classDonatur)
dictClass = dict(zip(catDonatur['KODE_DONATUR'], catDonatur['CLASS']))

df.head(3)

   KODE_DONATUR LABEL_DONATUR  BLN  ... TAHUN_LAHIR  DOMISILI  STATUS
0           441   DENGAN KODE    1  ...        1990    Bekasi  Alumni
1           441   DENGAN KODE    1  ...        1990    Bekasi  Alumni
2           441   DENGAN KODE    2  ...        1990    Bekasi  Alumni

[3 rows x 10 columns]

## Recommendation System

In [26]:
data = df.groupby(['KODE_DONATUR','JENIS_KELAMIN','TAHUN_LAHIR','DOMISILI','STATUS','PRODUK']).agg({'BLN':'nunique'}).unstack().reset_index()
data.columns = ['KODE_DONATUR','JENIS_KELAMIN','TAHUN_LAHIR','DOMISILI','STATUS',
                'INFAQ','SAHABAT PEMIMPIN','WAKAF ASRAMA','WAPRO','ZAKAT']

data = data.replace(np.nan,0)
          
def ReplaceValue(x):
  if x == 0:
    return 0
  else:
    return 1

for col in ['INFAQ','SAHABAT PEMIMPIN','WAKAF ASRAMA','WAPRO','ZAKAT']:
  data[col] = data[col].map(ReplaceValue)

data['CLASS'] = data['KODE_DONATUR'].map(dictClass)
for col in data.columns:
  data = data[~(data[col] == '')]

data['TAHUN_LAHIR'] = data['TAHUN_LAHIR'].astype(int)
data['USIA'] = int(dt.datetime.now().strftime("%Y")) - data['TAHUN_LAHIR'] 
data.drop(['TAHUN_LAHIR'], axis=1, inplace=True)

JABODETABEK = ['Depok', 'Jakarta Selatan', 'Tangerang Selatan', 'Jakarta Timur', 
               'Tangerang', 'Bekasi', 'Bogor', 'Tangsel', 'Jakarta Utara', 
               'Jakarta Pusat', 'Jakarta', 'Jakarta Barat']
NON_JABODETABEK = ['Surabaya', 'Kutai Timur', 'Sumbawa', 'Mataram', 'Bantul', 'Cilegon', 'Gresik',
                    'Denpasar', 'Serang ', 'Omegan Ilir', 'Yogyakarta', 'Bandung', 'Nganjuk', 'Purworejo',
                    'Subang', 'Payakumbuh', 'Garut','Sleman', 'Magelang ', 'Purwekerto', 'Blitar', 'Sidoarjo', 
                    'Madiun', 'Nganjuk ', 'Cilegon ', 'Rejang Lebong', 'Ponorogo', 'Balikpapan', 'Halmahera Selatan', 
                    'Medan', 'Berau', 'Batu', 'Tulungagung', 'Sampang', 'Lampung', 'Samarinda', 'Batu Sangkar', 'Langsa', 
                    'Lamongan', 'Bojonegoro', 'Probolinggo', 'Tuban', 'Tegal', 'Padang', 'Ciamis', 'Padalarang', 'Ngawi', 
                    'Karawang', 'Riau', 'Perbaungan', 'Pasarmatanggor', 'Jombang', 'Kebumen', 'Banda Aceh', 'Brastagi']
LUAR_NEGERI = ['Leiden','Riyadh','Saudi Arabia', 'Jepang', 
               'Korea Selatan', 'Taiwan', 'Jerman','Serang', 'Marseille', 'Norway']

data.loc[data['DOMISILI'].isin(JABODETABEK), ['WILAYAH']] = 'JABODETABEK'
data.loc[data['DOMISILI'].isin(LUAR_NEGERI), ['WILAYAH']] = 'LUAR_NEGERI'
data.loc[data['DOMISILI'].isin(NON_JABODETABEK), ['WILAYAH']] = 'NON_JABODETABEK'

catDonatur = df.groupby(['KODE_DONATUR']).agg({'BLN':'nunique'}).reset_index()

def classDonatur(x):
  if x >=5:
    return 1
  else:
    return 0

catDonatur['CLASS'] = catDonatur['BLN'].map(classDonatur)
dictClass = dict(zip(catDonatur['KODE_DONATUR'], catDonatur['CLASS']))

# data = df.groupby(['KODE_DONATUR','JENIS_KELAMIN','TAHUN_LAHIR','DOMISILI','STATUS']).agg({'PRODUK':'unique'}).reset_index()
# data['CLASS'] = data['KODE_DONATUR'].map(dictClass)
# data['JUMLAH_PRODUK'] = data['PRODUK'].map(lambda x: len(x))

# CLASS 1 : DONATUR AKTIF
# CLASS 0 : DONATUR PASIF
# data.drop(['DOMISILI','KODE_DONATUR','STATUS'], axis=1, inplace=True)
data.head(3)

   KODE_DONATUR JENIS_KELAMIN         DOMISILI  ... CLASS  USIA      WILAYAH
0             2     Laki-laki            Depok  ...     1    40  JABODETABEK
1             4     Laki-laki  Jakarta Selatan  ...     0    38  JABODETABEK
2             5     Laki-laki            Depok  ...     0    39  JABODETABEK

[3 rows x 12 columns]

## Personalized Marketing

In [27]:
data = df.groupby(['KODE_DONATUR','JENIS_KELAMIN','TAHUN_LAHIR','DOMISILI','STATUS','PRODUK']).agg({'BLN':'nunique'}).unstack().reset_index()
data.columns = ['KODE_DONATUR','JENIS_KELAMIN','TAHUN_LAHIR','DOMISILI','STATUS',
                'INFAQ','SAHABAT PEMIMPIN','WAKAF ASRAMA','WAPRO','ZAKAT']

data = data.replace(np.nan,0)
          
def ReplaceValue(x):
  if x == 0:
    return 0
  else:
    return 1

for col in ['INFAQ','SAHABAT PEMIMPIN','WAKAF ASRAMA','WAPRO','ZAKAT']:
  data[col] = data[col].map(ReplaceValue)

data['CLASS'] = data['KODE_DONATUR'].map(dictClass)
for col in data.columns:
  data = data[~(data[col] == '')]

data['TAHUN_LAHIR'] = data['TAHUN_LAHIR'].astype(int)
data['USIA'] = int(dt.datetime.now().strftime("%Y")) - data['TAHUN_LAHIR'] 
data.drop(['TAHUN_LAHIR'], axis=1, inplace=True)

JABODETABEK = ['Depok', 'Jakarta Selatan', 'Tangerang Selatan', 'Jakarta Timur', 
               'Tangerang', 'Bekasi', 'Bogor', 'Tangsel', 'Jakarta Utara', 
               'Jakarta Pusat', 'Jakarta', 'Jakarta Barat']
NON_JABODETABEK = ['Surabaya', 'Kutai Timur', 'Sumbawa', 'Mataram', 'Bantul', 'Cilegon', 'Gresik',
                    'Denpasar', 'Serang ', 'Omegan Ilir', 'Yogyakarta', 'Bandung', 'Nganjuk', 'Purworejo',
                    'Subang', 'Payakumbuh', 'Garut','Sleman', 'Magelang ', 'Purwekerto', 'Blitar', 'Sidoarjo', 
                    'Madiun', 'Nganjuk ', 'Cilegon ', 'Rejang Lebong', 'Ponorogo', 'Balikpapan', 'Halmahera Selatan', 
                    'Medan', 'Berau', 'Batu', 'Tulungagung', 'Sampang', 'Lampung', 'Samarinda', 'Batu Sangkar', 'Langsa', 
                    'Lamongan', 'Bojonegoro', 'Probolinggo', 'Tuban', 'Tegal', 'Padang', 'Ciamis', 'Padalarang', 'Ngawi', 
                    'Karawang', 'Riau', 'Perbaungan', 'Pasarmatanggor', 'Jombang', 'Kebumen', 'Banda Aceh', 'Brastagi']
LUAR_NEGERI = ['Leiden','Riyadh','Saudi Arabia', 'Jepang', 
               'Korea Selatan', 'Taiwan', 'Jerman','Serang', 'Marseille', 'Norway']

data.loc[data['DOMISILI'].isin(JABODETABEK), ['WILAYAH']] = 'JABODETABEK'
data.loc[data['DOMISILI'].isin(LUAR_NEGERI), ['WILAYAH']] = 'LUAR_NEGERI'
data.loc[data['DOMISILI'].isin(NON_JABODETABEK), ['WILAYAH']] = 'NON_JABODETABEK'

catDonatur = df.groupby(['KODE_DONATUR']).agg({'BLN':'nunique'}).reset_index()

def classDonatur(x):
  if x >=5:
    return 1
  else:
    return 0

catDonatur['CLASS'] = catDonatur['BLN'].map(classDonatur)
dictClass = dict(zip(catDonatur['KODE_DONATUR'], catDonatur['CLASS']))

# data = df.groupby(['KODE_DONATUR','JENIS_KELAMIN','TAHUN_LAHIR','DOMISILI','STATUS']).agg({'PRODUK':'unique'}).reset_index()
# data['CLASS'] = data['KODE_DONATUR'].map(dictClass)
# data['JUMLAH_PRODUK'] = data['PRODUK'].map(lambda x: len(x))

# CLASS 1 : DONATUR AKTIF
# CLASS 0 : DONATUR PASIF
data.drop(['DOMISILI','KODE_DONATUR','STATUS'], axis=1, inplace=True)
data.head(3)

  JENIS_KELAMIN  INFAQ  SAHABAT PEMIMPIN  ...  CLASS  USIA      WILAYAH
0     Laki-laki      1                 0  ...      1    40  JABODETABEK
1     Laki-laki      1                 0  ...      0    38  JABODETABEK
2     Laki-laki      1                 0  ...      0    39  JABODETABEK

[3 rows x 9 columns]

In [28]:
# Preprocessing
dictJenisKelamin = {'Laki-laki':1,'Perempuan':0}
data['JENIS_KELAMIN'] = data['JENIS_KELAMIN'].map(dictJenisKelamin)
data = pd.get_dummies(data, ['WILAYAH'])

data = data[['JENIS_KELAMIN','USIA',
      'WILAYAH_JABODETABEK', 'WILAYAH_LUAR_NEGERI','WILAYAH_NON_JABODETABEK',
      'INFAQ', 'ZAKAT', 'SAHABAT PEMIMPIN', 'WAKAF ASRAMA', 'WAPRO',
      'CLASS']]

data.head(3)

   JENIS_KELAMIN  USIA  WILAYAH_JABODETABEK  ...  WAKAF ASRAMA  WAPRO  CLASS
0              1    40                    1  ...             0      0      1
1              1    38                    1  ...             0      0      0
2              1    39                    1  ...             0      0      0

[3 rows x 11 columns]

In [29]:
from sklearn.model_selection import train_test_split

X = data.drop(['CLASS'], axis=1)
y = data[['CLASS']]

X_ARRAY = X.to_numpy()
Y_ARRAY = y.to_numpy() 

X_train, X_test, y_train, y_test = train_test_split(X_ARRAY, Y_ARRAY, test_size = 0.3, random_state = 123)

# Imbalance Dataset

In [30]:
# from imblearn.under_sampling import RandomUnderSampler
# undersampling = RandomUnderSampler()
# X_under, y_under = undersampling.fit_resample(X_train,y_train)

##### Model Selection

###### Decision Tree Model

In [35]:
#AGUNG
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics


classifier = DecisionTreeClassifier()
classifier = classifier.fit(X_train,y_train)

#Test_Model
y_pred = classifier.predict(X_test)
y_predict = np.reshape(y_pred, (-1, 1))

print(F"##### [METRIC MODEL EVALUATION] #####\n")
# Score Accuracy
print(f"Ketepatan Model Memprediksi : {metrics.accuracy_score(y_predict, y_test)}\n")

# Matrix Confusion
# TRUE (1) = DONATUR AKTIF
# FALSE (0) = DONATUR PASIF
matrix = confusion_matrix(y_test, y_predict)
print(f"[Matrix Confusion]")
print(f"Donatur Aktif yang diprediksi Benar oleh Model sejumlah {matrix[0][0]}")
print(f"Donatur Aktif yang diprediksi Salah oleh Model sejumlah {matrix[0][1]}")
print(f"Donatur Negatif yang diprediksi Benar oleh Model sejumlah {matrix[1][0]}")
print(f"Donatur Negatif yang diprediksi Salah oleh Model sejumlah {matrix[1][1]}\n")

# Recal
recall = matrix[0][0] / (matrix[0][0]+matrix[1][0])
print(f"Nilai Recall sebesar {recall}\n")

#F1 Score
print(f"Nilai F1 Score sebesar {f1_score(y_test, y_predict)}\n")

##### [METRIC MODEL EVALUATION] #####

Ketepatan Model Memprediksi : 0.6111111111111112

[Matrix Confusion]
Donatur Aktif yang diprediksi Benar oleh Model sejumlah 36
Donatur Aktif yang diprediksi Salah oleh Model sejumlah 10
Donatur Negatif yang diprediksi Benar oleh Model sejumlah 18
Donatur Negatif yang diprediksi Salah oleh Model sejumlah 8

Nilai Recall sebesar 0.6666666666666666

Nilai F1 Score sebesar 0.3636363636363637

###### Random Forest

In [36]:
# BOMA

from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

regressor = RandomForestRegressor(n_estimators=5, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.4243055555555556
Mean Squared Error: 0.3060081034265558
Root Mean Squared Error: 0.5531799918892185

In [37]:
# Random Forest Classifier

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score

rf = RandomForestClassifier()
rf.fit(X_train,y_train)

#test model
y_predict = rf.predict(X_test)
y_predict = np.reshape(y_predict, (-1, 1))

matrix = confusion_matrix(y_test, y_predict)
print(f"[Matrix Confusion]")
print(f"Donatur Aktif yang diprediksi Benar oleh Model sejumlah {matrix[0][0]}")
print(f"Donatur Aktif yang diprediksi Salah oleh Model sejumlah {matrix[0][1]}")
print(f"Donatur Negatif yang diprediksi Benar oleh Model sejumlah {matrix[1][0]}")
print(f"Donatur Negatif yang diprediksi Salah oleh Model sejumlah {matrix[1][1]}\n")

# Recal
recall = matrix[0][0] / (matrix[0][0]+matrix[1][0])
print(f"Nilai Recall sebesar {recall}\n")

#F1 Score
print(f"Nilai F1 Score sebesar {f1_score(y_test, y_predict)}\n")

[Matrix Confusion]
Donatur Aktif yang diprediksi Benar oleh Model sejumlah 31
Donatur Aktif yang diprediksi Salah oleh Model sejumlah 15
Donatur Negatif yang diprediksi Benar oleh Model sejumlah 16
Donatur Negatif yang diprediksi Salah oleh Model sejumlah 10

Nilai Recall sebesar 0.6595744680851063

Nilai F1 Score sebesar 0.39215686274509803

In [38]:
def evaluasi_model(model,X_test,y_test):
    from sklearn.metrics import accuracy_score
    y_pred = model.predict(X_test)
    return accuracy_score(y_test,y_pred)
    
print(f"Model Evaluasi : {evaluasi_model(rf,X_test,y_test)}\n")

Model Evaluasi : 0.5694444444444444

###### XGBoost Model

In [ ]:
# IRA

In [40]:
from xgboost import XGBClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score

xgb = XGBClassifier()
xgb.fit(X_train,y_train)

#test model
y_predict = xgb.predict(X_test)
y_predict = np.reshape(y_predict, (-1, 1))

matrix = confusion_matrix(y_test, y_predict)
print(f"[Matrix Confusion]")
print(f"Donatur Aktif yang diprediksi Benar oleh Model sejumlah {matrix[0][0]}")
print(f"Donatur Aktif yang diprediksi Salah oleh Model sejumlah {matrix[0][1]}")
print(f"Donatur Negatif yang diprediksi Benar oleh Model sejumlah {matrix[1][0]}")
print(f"Donatur Negatif yang diprediksi Salah oleh Model sejumlah {matrix[1][1]}\n")

# Recal
recall = matrix[0][0] / (matrix[0][0]+matrix[1][0])
print(f"Nilai Recall sebesar {recall}\n")

#F1 Score
print(f"Nilai F1 Score sebesar {f1_score(y_test, y_predict)}\n")

[Matrix Confusion]
Donatur Aktif yang diprediksi Benar oleh Model sejumlah 31
Donatur Aktif yang diprediksi Salah oleh Model sejumlah 15
Donatur Negatif yang diprediksi Benar oleh Model sejumlah 11
Donatur Negatif yang diprediksi Salah oleh Model sejumlah 15

Nilai Recall sebesar 0.7380952380952381

Nilai F1 Score sebesar 0.5357142857142857

In [41]:
evaluasi_model(xgb, X_test, y_test)

0.6388888888888888

###### Naive Bayes

In [42]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score

gnb = GaussianNB()
gnb.fit(X_train, y_train)

#test model
y_predict = gnb.predict(X_test)
y_predict = np.reshape(y_predict, (-1, 1))

print(F"##### [METRIC MODEL EVALUATION] #####\n")
# Score Accuracy
print(f"Ketepatan Model Memprediksi : {gnb.score(y_predict, y_test)}\n")

# Matrix Confusion
# TRUE (1) = DONATUR AKTIF
# FALSE (0) = DONATUR PASIF
matrix = confusion_matrix(y_test, y_predict)
print(f"[Matrix Confusion]")
print(f"Donatur Aktif yang diprediksi Benar oleh Model sejumlah {matrix[0][0]}")
print(f"Donatur Aktif yang diprediksi Salah oleh Model sejumlah {matrix[0][1]}")
print(f"Donatur Negatif yang diprediksi Benar oleh Model sejumlah {matrix[1][0]}")
print(f"Donatur Negatif yang diprediksi Salah oleh Model sejumlah {matrix[1][1]}\n")

# Recal
recall = matrix[0][0] / (matrix[0][0]+matrix[1][0])
print(f"Nilai Recall sebesar {recall}\n")

#F1 Score
print(f"Nilai F1 Score sebesar {f1_score(y_test, y_predict)}\n")

##### [METRIC MODEL EVALUATION] #####

Ketepatan Model Memprediksi : 0.6388888888888888

[Matrix Confusion]
Donatur Aktif yang diprediksi Benar oleh Model sejumlah 46
Donatur Aktif yang diprediksi Salah oleh Model sejumlah 0
Donatur Negatif yang diprediksi Benar oleh Model sejumlah 26
Donatur Negatif yang diprediksi Salah oleh Model sejumlah 0

Nilai Recall sebesar 0.6388888888888888

Nilai F1 Score sebesar 0.0

###### Support Vector Machine Model

In [39]:
# SVM - Nopri

# Import SVM model
from sklearn import svm

# Buat Classifier
clsf = svm.SVC(kernel='linear')

# Train model
clsf.fit(X_train, y_train)

# Predict
y_pred = clsf.predict(X_test)

# Confusion Matrix SVM
from sklearn.metrics import confusion_matrix
svmcon = confusion_matrix(y_test, y_pred)

print(f"[SVM Matrix Confusion]")
print(f"Donatur Aktif yang diprediksi Benar oleh Model sejumlah {svmcon[0][0]}")
print(f"Donatur Aktif yang diprediksi Salah oleh Model sejumlah {svmcon[0][1]}")
print(f"Donatur Pasif yang diprediksi Benar oleh Model sejumlah {svmcon[1][0]}")
print(f"Donatur Pasif yang diprediksi Salah oleh Model sejumlah {svmcon[1][1]}\n")

# Recall
recall_svm = svmcon[0][0] / (svmcon[0][0]+svmcon[1][0])
print(f"Nilai Recall sebesar {recall_svm}\n")

#F1 Score
print(f"Nilai F1 Score sebesar {f1_score(y_test, y_pred)}\n")

[SVM Matrix Confusion]
Donatur Aktif yang diprediksi Benar oleh Model sejumlah 34
Donatur Aktif yang diprediksi Salah oleh Model sejumlah 12
Donatur Pasif yang diprediksi Benar oleh Model sejumlah 9
Donatur Pasif yang diprediksi Salah oleh Model sejumlah 17

Nilai Recall sebesar 0.7906976744186046

Nilai F1 Score sebesar 0.6181818181818182

##### Model Evaluation  - (Recall, FI Score)

### Learning Prosedur

### Learning Monitoring